<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save</title>
    <style>
        h2{
            text-align: center;
            color: green;
        }
        a{
            text-align: center;
            margin-left: 700px;
        }
        .maincontainer
        {
            max-width: 1780px;
            
        }
    </style>
</head>
<body>
  <div class="maincontainer">
    <% if(message===false) {%>
        <h2>Your Account is Activated</h2>
        <% } else { %>
            <h2><%= message %></h2>
            <% } %>

    <a href="/register">Go Home</a>
</div>

</body>
</html>