<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practical-3</title>
    <link rel="stylesheet" type="text/css" href="/css/cssPractical3.css">

</head>

<body>
    <header>
        <div class="container">
            <div class="navbar">
                <div class="page1_logo">
                    <img src="/images/HireX_black.png" alt="logo_of_company">
                </div>
                <div class="page1_menu">
                    <a href="#Works">Works</a>
                    <a href="#Landing">About us</a>
                    <a href="#Pages">Blogs</a>
                    <a class="active" href="#home">FAQ</a>
                    <a href="#Docs">Contact us</a>

                    <button class="button1">We're Hiring ->
                    </button>

                </div>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col1">
                    <div class="heading_line">
                        <div><strong>WELCOME TO HIREX.</strong></div>
                        <div><img src="/images/Star 1.png" height="20px"></div>
                    </div>
                    <div>
                        <h2>AWARD WINNING DIGITAL AGENCY.</h2>
                    </div>
                    <div>
                        <p>Digital Agency offering unique solutions to create digital presence and increase your sales.
                        </p>
                    </div>
                    <div class="myButtondiv">
                        <span class="textbutton">
                            <input type="text" placeholder="Your Email Address" id="textbox">
                            <button class="mybutton2"> Request access</button>
                        </span>
                    </div>
                    <div class="myButtondiv2">
                        <label for="text" id="section1label">Open
                            account and get 5 boxes</label>
                    </div>

                </div>
                <div class="col2">

                    <div class="circle">
                        <img src="/images/image 2 (Traced).png" id="arrowup">
                        <p id="circle_text">Web Design</p>
                    </div>
                    <div class="cone">
                        <img src="/images/image 6 (Traced).png" id="hand">
                        <p id="cone_text">Social Midia</p>
                    </div>
                    <div class="rectangle">
                        <p id="rectangle_text">UIX Design</p>
                        <img src="/images/image 1 (Traced).png" id="bulb">
                    </div>
                    <img src="/images/Group 6.png" id="group_sign">

                </div>

            </div>
        </div>
        </div>
    </section>
    <section class="section2">

        <marquee behavior="" direction="">
            <div class="row_section2">

                <div class="col_section2">
                    <label class="mytext">GET ACCESS NOW!</label>
                    <img src="/images/image-fBLQvAFN1-transformed 1.png">
                    <img src="/images/Line 4.png" id="line">
                </div>

                <div class="col_section2">
                    <label class="mytext">GET ACCESS NOW!</label>
                    <img src="/images/image-fBLQvAFN1-transformed 1.png">
                    <img src="/images/Line 4.png" id="line">
                </div>
                <div class="col_section2">
                    <label class="mytext">GET ACCESS NOW!</label>
                    <img src="/images/image-fBLQvAFN1-transformed 1.png">
                    <img src="/images/Line 4.png" id="line">
                </div>
                <div class="col_section2">
                    <label class="mytext">GET ACCESS NOW!</label>
                    <img src="/images/image-fBLQvAFN1-transformed 1.png">
                    <img src="/images/Line 4.png" id="line">
                </div>
                <div class="col_section2">
                    <label class="mytext">GET ACCESS NOW!</label>
                    <img src="/images/image-fBLQvAFN1-transformed 1.png">
                    <img src="/images/Line 4.png" id="line">
                </div>


            </div>
        </marquee>


    </section>
    <section class="section3">
        <div class="container">
            <div class="section3_row">
                <div class="section3_col">

                    <div><label id="section3_text">Services</label></div>
                    <div>
                        <h2>How Hirex. Work</h2>
                    </div>
                    <div class="smalldiv">
                        <p>The awesome people who makes all this possible</p>
                    </div>

                </div>

            </div>
            <div class="section3_row">
                <div class="section3_col2">
                    <div>
                        <p>START HERE</p>
                    </div>
                    <div>
                        <p class="mytext2">Who we are & what we do</p>
                    </div>
                    <div><img src="/images/Designer _Flatline 1.png"></div>
                    <div><button class="mybutton2 mystyle1">START HERE
                            -></button></div>
                </div>
                <div class="section3_col2">
                    <div>
                        <p>CUSTOM DESIGN</p>
                    </div>
                    <div>
                        <p class="mytext2">We'll design your projects
                        <p>
                    </div>
                    <div><img src="/images/Notifications_Flatline 1.png"></div>
                    <div><button class="mybutton2 mystyle2">START HERE -></button></div>
                </div>
                <div class="section3_col2">
                    <div>
                        <p>CONTACT US</p>
                    </div>
                    <div>
                        <p class="mytext2">Drop us your message!</p>
                    </div>
                    <div><img src="/images/Fortnite_Two Color 1.png"></div>
                    <div><button class="mybutton2 mystyle3">START HERE -></button></div>
                </div>

            </div>
    </section>
    <section class="section4">
        <div class="container">
            <div class="section3_row">
                <div class="section3_col">

                    <div><label id="section4_text">Works</label></div>
                    <div>
                        <h2>Find Our latest works</h2>
                    </div>
                    <div class="smalldiv">
                        <p>The awesome people who makes


                            all this possible</p>
                    </div>
                </div>

            </div>
            <div class="section4_row">
                <div class="section4col">
                    <img src="/images/Rectangle 13.png">
                    <div class="mydescription">
                        <label for="text" id="myheader">Web design</label>
                        <h3>Website Design For Digital Agency</h3>
                        <p>Build a unique website For Digital Agency</p>
                        <p id="linkforNext">Read more-></p>
                    </div>
                </div>
                <div class="section4col">
                    <img src="/images/Rectangle 13-1.png">
                    <div class="mydescription">
                        <label for="text" id="myheader">3D design</label>
                        <h3>Realistic 3d Model of Living Room</h3>
                        <p>Build a unique website For Digital Agency</p>
                        <p id="linkforNext">Read more-></p>
                        <button class="viewAll_button">View All-></button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container">
            <div class="section3_row">
                <div class="section3_col">


                    <div>
                        <h2>Plans & Pricing</h2>
                    </div>
                    <div class="smalldiv">
                        <p>The awesome people who makes

                            all this possible</p>
                    </div>
                </div>

            </div>


            <div class="section5_row">

                <div class="section5col">
                    <div class="maincard">
                        <h3 class="card">Free</h3>
                        <p><strong class="card" class="card_price">$0<b>/MONTH</b></strong></p>
                        <p class="card subheading">Start free while you learn more about our services</p>
                        <p class="card cardline">
                            <hr>
                        </p>
                        <div class="card_details">
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Free Foever get the basic essential
                            </p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Advance security and performance</p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Unlimited unhosted sites</p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Live support</p>
                        </div>
                        <button class="cardButton">
                            Get Started
                        </button>
                    </div>
                </div>
                <div class="section5col">
                    <div class="maincard">
                        <h3 class="card">Basic</h3>
                        <p><strong class="card" class="card_price">$19<b>/MONTH</b></strong></p>
                        <p class="card subheading">Get powerful tools to make your business grow</p>
                        <p class="card cardline">
                            <hr>
                        </p>
                        <div class="card_details">
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Free Foever get the basic essential
                            </p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Advance security and performance</p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Unlimited unhosted sites</p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Live support</p>
                        </div>
                        <button class="cardButton">
                            Get Started
                        </button>
                    </div>
                </div>
                <div class="section5col">
                    <div class="maincard">
                        <h3 class="card">Pro</h3>
                        <p><strong class="card" class="card_price">$99<b>/MONTH</b></strong></p>
                        <p class="card subheading">Take your business to the next level with our tools</p>
                        <p class="card  cardline">
                            <hr>
                        </p>
                        <div class="card_details">
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Free Foever get the basic essential
                            </p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Advance security and performance</p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Unlimited unhosted sites</p>
                            <p><img src="/images/correct_sign.jpeg " width="15px"> Live support</p>
                        </div>
                        <button class="cardButton">
                            Get Started
                        </button>

                    </div>
                </div>
            </div>



        </div>
    </section>
    <section class="section6">
        <div class="container">
            <div class="row6">
                <div class="section6_col1">
                    <img src="/images/arrow-left-2.png">
                </div>
                <div class="section6_col2">
                    <div class="imagehalfround">
                            <div class="BottomtextPic">
                                <p>@mase.place</p>
                                <img src="">
                            </div>

                    </div>
                </div>
                <div class="section6_col3">
                    <div class="textDescription">
                        <h4>"We select to practice in Minerva since it is both useful, and our clients basically adore
                            it! It has stood the test of time and proceeds"</h4>
                        <p>Abel Carden is a TikTok personality and lip-sync content creator who has built a fanbase of
                            more than 3.2 millions followers on the platform.</p>
                    </div>
                </div>
                <div class="section6_col4">
                    <img src="/images/arrow-right-2.png">
                </div>
            </div>
        </div>
    </section>
    <section class="section7">
        <div class="container">
            <button id="section7Button">Blog</button>
            <h2>Stay updated</h2>
            <div class="section7_row">
                <div class="section7_col"><img src="/images/Rectangle 19.png">
                    <div class="mydescription">
                        <label for="text" id="myheader">Web design</label>
                        <h3>We Launch Minerva Template this Week!</h3>
                        <p>Build a unique website with HireX Template</p>
                        <p id="linkforNext">Read more-></p>
                    </div>

                </div>
                <div class="section7_col"><img src="/images/Rectangle 20.png">
                    <div class="mydescription">
                        <label for="text" id="myheader">Web design</label>
                        <h3>Introduction the Non-Code Webflow Guide</h3>
                        <p>Build a unique website with HireX Template</p>
                        <p id="linkforNext">Read more-></p>
                    </div>
                </div>
            </div>
    </section>

    <section class="section8">
        <div class="container">
            <div class="section8_row">
                <div class="section8_col1">
                    <h2 class="section8_heading">Get our latests news & updates</h2>
                    <h3>Name</h3>
                    <hr>
                    <h3>EMAIL</h3>
                    <HR>
                    <h3>SUBSCRIBE
                        <img id="mysection8arrow" src="/images/arrow-right-2.png">
                    </h3>
                    <hr>
                </div>
                <div class="section8_col2">
                    <div class="mydescription1">
                        <p>We select to practice in Mineva since it is both useful and commonsense,and our clients adore
                            it</p>
                        <label for="text" id="myheader">Book a Call</label>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section9">

        <marquee behavior="" direction="">
            <div class="row_section2">

                <div class="col_section9">
                    <label class="mytext1">Thank You For Your Visit</label>

                    <img src="/images/Line 4.png" class="plus">
                </div>

                <div class="col_section9">
                    <label class="mytext1">Thank You For Your Visit</label>

                    <img src="/images/Group 59.png" class="line1">
                </div>
                <div class="col_section9">
                    <label class="mytext1">Thank You For Your Visit</label>

                    <img src="/images/Line 4.png" class="plus">
                </div>

                <div class="col_section9">
                    <label class="mytext1">Thank You For Your Visit</label>

                    <img src="/images/Group 59.png" class="line1">
                </div>



            </div>
        </marquee>


    </section>
    <footer>
        <div class="container">
            <h2>HireX.</h2>
            <hr>
            <div class="section10_row">
                <div class="section10col">
                    <div class="Products"><small>Products</small></div>
                    <div>Platform</div>
                    <div>Store Overview</div>
                    <div>Email Reports</div>
                    <div>Portfolio</div>
                </div>
                <div class="section10col">
                    <div class="Products"><small>Resources</small></div>
                    <div>Case Studies</div>
                    <div>Product Guides</div>
                    <div>Reports</div>
                    <div>Blog</div>
                    <div>FAQ</div>
                </div>
                <div class="section10col">
                    <div class="Products"><small>Company</small></div>
                    <div>Carriers</div>
                    <div>Contact Sales</div>
                    <div>Contact Support</div>

                </div>
                <div class="section10col">
                    <div class="Products"><small>Partners</small></div>
                    <div>Partner With Us</div>

                </div>
            </div>
            <pre>    Terms and Conditions  Privacy Policy                                                                                                    @HIREX,Inc.2022</pre>
        </div>
    </footer>
</body>

</html>