<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/cssPractical1.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="navbar">
                <div class="page1_logo">
                    <img src="/images/Logo.svg" alt="logo_of_company">
                </div>
                <div class="page1_menu">
                    <a href="#Home">Home</a>
                    <a href="#Landing">Landing</a>
                    <a href="#Pages">Pages</a>
                    <a class="active" href="#home">Home</a>
                    <a href="#Docs">Docs</a>
                    <a href="#Help">Help</a>
                    <button id ="buttonMenu" >Get it
                        now</button>

                </div>
            </div>
        </div>
    </header>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col1">
                    <div class="card">
                        <img src="/images/Hero (copy).png" alt="family pic">
                    </div>
                </div>
                <div class="col2">
                  
                        <div id="textcol2" ><b>Make Your New
                                Life Happier</b></div>
                        <div style="font-size: 17px; margin-top: 13px; color: black;">We work with several leading
                            insurance companies to secure insurance coverages tailord to meet your needs.</div>
                        <div><button class="mybutton">Get a consultation</button></div>
                
                </div>
            </div>

        </div>
    </section>


    <section class="section2">
        <div class="container">

            <div class="card1">
                <p id="textCard1" >our services</p>
                <h3>Insurance made simple for you</h3>
                <pre>We work with several leading insurance companies to secure</pre>
                <pre>coverages tailored to meet your needs.</pre>
            </div>

            <div class="row">
                <div class="card2">
                    <div class="col"><img src="/images/correct2.jpeg" alt="Sign Image" width="12px">Flexible Products to make
                        life easier</div>
                    <div class="col"><img src="/images/correct2.jpeg" alt="Sign Image" width="12px">Highest standard of
                        service</div>
                    <div class="col"><img src="/images/correct2.jpeg" alt="Sign Image" width="12px">Fast and reliable
                        service</div>
                </div>

            </div>
            <div class="row3">
                <div class="col3" id="col3text">
                    <img src="/images/Icon_Home.svg" alt="home" class="myimage">
                    <p><b>Home insurance</b></p>
                    <p>Home Insurance is a type of
                        insurance policy that provides cover for your
                        home.</p>
                    <p id="col3text2" style="color: #1565D8;">Learn more
                        <img src="/images/arrow.png" width="20px">
                    </p>
                </div>
                <div class="col3 col3text">
                    <img src="/images/Icon_Blood_Donation.svg" alt="home" class="myimage">
                    <p><b>Life Insurance</b></p>
                    <p>Helping you bridge gaps in your
                        health care coverage during
                        times of transition.</p>
                    <p class="col3text2">Learn more
                        <img src="/images/arrow.png" width="20px">
                    </p>
                </div>
                <div class="col3 col3text" >
                    <img src="/images/Icon_Car.svg" alt="home" class="myimage">
                    <p><b>Car insurance</b></p>
                    <p>Car Insurance is a type of
                        insurance policy that provides
                        cover for your car
                    </p>
                    <p class="col3text2">Learn more
                        <img src="/images/arrow.png" width="20px">
                    </p>
                </div>
            </div>

        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="card1">
                <p class="greenColor">OUR TIPS FOR YOU</p>
                <h3>Reinventing your protection</h3>
                <pre>We share common trends,strategies ideas,opinions,short & long</pre>
                <pre>stories from the team behind company</pre>
            </div>
            <div class="row4">
                <div class="col4 gradient1">
                   
                    <h2>How to prevent and
                        protect your
                        family from carbon monooxide</h2>
                </div>
                <div class="col4 gradient2">
                   
                    <h2 >Motherhood is the
                        hardest and the
                        best job ever</h2>
                </div>
            </div>
        </div>

    </section>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="greenColor">YOUR BENEFITS</p>
                    <p class="lastrow"><b>We're your right insurance advocate</b></p>
                </div>
                <div class="col">
                    <img src="/images/Icon_Blood_Donation.svg" alt="home" class="myimage">
                    <p><b>We have the best prices</b></p>
                    <p>Our insurance plans offers are priced
                        the same everywhere else.We just make
                        them easier for you to find.</p>
                </div>
                <div class="col">
                    <img src="/images/Icon_Protection.svg" alt="home" class="myimage">
                    <p><b>We're your insurance advocate</b></p>
                    <p>We will deal with the insurance
                        companies for you, even after you've
                        bought your plan.</p>
                </div>
                <div class="col">
                    <img src="/images/Icon_Neutron.svg" alt="home" class="myimage">
                    <p><b>We're unbiased</b></p>
                    <p>Our online tools help you decide
                        what products is best for you.We're here to
                        insurance plan you choose.</p>
                </div>
                <div class="col">

                    <img src="/images/Icon_CS.svg" alt="home" class="myimage">
                    <p><b>We're available 24/7</b></p>
                    <p>We have your back 24/7 between our
                        online chat function,email
                        and telephone support.
                    </p>
                </div>
                <div class="col">
                    <img src="/images/Icon_Like.svg" alt="home" class="myimage">
                    <p><b>We make insurance simple</b></p>
                    <p>We are committed to making applying for
                        insurance as simple as can be for our customers.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <hr>
    </div>


    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="/images/Avatar.png">
                    <img src="/images/Avatar-1.png">
                    <img src="/images/Avatar-2.png">
                    <div class="card">
                        <p class="marginBottom">Friendly customer support</p>
                        <p style="margin-top: 0px;">team</p>
                    </div>
                </div>
                <div class="col">                    
                        <img src="/images/Path.svg" height="20px">
                        <strong>Trustpilot</strong>             


                   
                    <div style="margin-top: 6px;">
                        <img src="/images/s.svg" height="20px">
                        <img src="/images/s.svg" height="20px">
                        <img src="/images/s.svg" height="20px">
                        <img src="/images/s.svg" height="20px">
                        <img src="/images/s.svg" height="20px">
                    </div>
                   

                    <div>
                      
                            <p style="margin-bottom: 0px;">4.6 out of 5 stars from 8.6k </p>
                            <p style="margin-top: 0px;">reviews</p>
                        
                    </div>
                </div>
                <div class="col">
                    <img src="/images/Icon_Like.svg">
                    <div style="margin-top: 6px;">We're making insurance as</div>
                    <div>simple as can be</div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row6">
                <div class="col5">
                    <img src="/images/Logo_white.svg" alt ="logo" style="color: white;">
                    <p style="color: white; margin-top: 40px; margin-bottom: 0px;">Build a modern and creative</p>
                    <p style="color: white; margin-top: 4px;">website with crealand</p>
                    <div class="row6" style="margin-top: 40px;" >
                        <div style="padding: 4px;">
                        <img src="/images/icons8-google-50(1).png" width="20px">
                        <img src="/images/icons8-twitter-50.png" width="20px">
                        <img src="/images/icons8-instagram-50.png" width="20px">
                        <img src="/images/icons8-linkedin-50.png" width="20px">
                        <img src="/images/icons8-youtube-50.png" width="20px">
                        </div>
                    </div>



                </div>
                <div class="col6">
                    <p class="col6_paragraph" ><b>Ready to get insured?Submit your request and hear back as soon as tomorrow</b></p>

                    <div class="row">
                        <div class="col7">
                        <input type="text" class="col7_text" placeholder="Your email">
                        </div>
                        <div class="col7">
                        <button class="col7_button" >Get Started</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card copyright">Copyright @2019.Crafted with love.</div>
        </div>
    </footer>


</body>

</html>