<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/cssPractical2.css">
    <script src="/js/cssPractical2.js"></script>


</head>

<body>
    <header>
        <div class="container">
            <div class="navbar">
                <div class="page1_logo">
                    <img src="/images/Group 3478(1)(1).png" alt="logo_of_company" style="margin-bottom: 40px;">
                </div>
                <div class="page1_menu">
                    <a href="#Hoisting">Hoisting</a>
                    <a href="#Integration">Integration</a>
                    <a href="#Pricing">Pricing</a>
                    <a class="active" href="#Community">Community</a>
                    <a href="#Login" class="login">Login</a>

                </div>
            </div>
        </div>

    </header>

    <div class="header">
        <hr>
    </div>

    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col1">
                    <div class="headlines">
                        <p style="margin-bottom: 0px;">Hosting
                            Services for
                            Your Website</p>
                    </div>
                    <p style="color: #1a3661; font-size: 23px; margin-top: 20px;">Easily and reliably host a website for
                        your business,
                        organization, or project while retaining complete control over your site's
                        underlying infrastructure.
                    </p>

                    <div class="row">
                        <div class="col">
                            <button class="myButton" style="background-color: #F2A33A;">Get Started</button>
                            <button class="myButton"
                                style="background-color: #F0F6FF; color: #1a3661; border: 1px solid #1a3661;">Get
                                Migration Help</button>
                        </div>
                    </div>
                </div>
                <div class="col2">
                    <img src="/images/portrait-confident-bearded-man-using-laptop-computer 1.png" height="600px">
                </div>
            </div>
            <div class="row">
                <img src="/images/arrow-down.png" alt="arrow-down" style="margin-top: 25px;">
            </div>
        </div>
    </section>


    <div class="section2">
        <div class="container">
            <div class="row">
                <div class="col2">Those who have experienced the Best Performance</div>

                <div class="col"><img src="/images/Telkom Indonesia Logo.png"></div>
                <div class="col"><img src="/images/Jetstar Airways Logo.png"></div>
                <div class="col"><img src="/images/Nescafe Logo.png"></div>
                <div class="col"><img src="/images/Lenovo Logo.png"></div>
            </div>

        </div>
    </div>
    </div>

    <div class="section3">
        <div class="container">
            <div class="row">
                <div class="col3">
                    <img src="/images/Group 3552.png" alt="group_image">
                </div>
                <div class="col3">
                    <div class="headlines1" style="color: #1a3661;">
                        <p>Boost the Speed of Your Website</p>
                    </div>

                    <div class="row">
                        <div class="col3">
                            <p style="color: #1a3661;font-size: 25px;">Faster Build Process</p>
                            <p style="font-size: 17px;">We can speed up the process of creating your website</p>
                        </div>
                        <div class="col3">
                            <p style="color: #1a3661;font-size: 25px;">Faster Delivery</p>
                            <p style="font-size: 17px;">Our purchase and services can be completed quickly</p>
                        </div>
                        <div class="col3">
                            <p style="color: #1a3661;font-size: 25px;">Faster Access Speed</p>
                            <p style="font-size: 17px;">Superb network infrastructure and harware to support that and
                                stable across</p>
                        </div>
                        <div class="col3">
                            <p style="color: #1a3661;font-size: 25px;">24/7 Faster Service</p>
                            <p style="font-size: 17px;">We have a response time of less than 180 seconds available 24
                                hours a day</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="section4">
        <div class="container">
            <div class="headlines3">Host Any Website With Our Fully Managed Services</div>

            <div class="row" style="margin-top: 80px;">

                <div class="col5">
                    <div style="padding: 10px;">
                        <div class="col5item">
                            <div style="display: flex; text-align: center; padding: 10px;">
                                <span class="circle" style="justify-content: center;">
                                    <img src="/images/cloud-sunny.png" alt="synny cloud" class="myrealimage">
                                </span>
                                <span class="myheading" style="font-weight: bold;">Cloud Hosting</span>
                            </div>
                            <div class="card_innertext"
                                style="text-align: left; margin-top: 5px; margin-left: 3px; font-size: 11px; padding: 2px;">
                                <p>Cloud hosting is the good fit for those of you who are building personal
                                    websites,portfolios
                                    and other systems</p>
                            </div>
                        </div>
                        <div class="pricing_text" style="padding: 15px;  margin-top: 10px;">
                            <strong style="font-size: 30px; font-weight: bold;">$5.9</strong>/ month</h2>
                        </div>
                        <button class="ButtonHover"
                            style="width: 225px; height: 45px; font-size: 20px; margin-top: 15px; margin-bottom: 15px;">More
                            Detail</button>
                    </div>
                </div>

                <div class="col5">
                    <div style="padding: 10px;">
                        <div class="col5item">
                            <div style="display: flex; text-align: center; padding: 10px;">
                                <span class="circle" style="justify-content: center;">
                                    <img src="/images/buildings.png" alt="buildings" class="myrealimage">
                                </span>
                                <span class="myheading" style="font-weight: bold;">Corporate</span>
                            </div>
                            <div class="card_innertext"
                                style="text-align: left; margin-top: 5px; margin-left: 5px; font-size: 11px; padding: 2px;">
                                <p>Provides Business related hosting services, such as websites or management system for
                                    companies</p>
                            </div>
                        </div>
                        <div class="pricing_text" style="padding: 15px;  margin-top: 10px;">
                            <strong style="font-size: 30px; font-weight: bold;">$19</strong>/ month</h2>
                        </div>
                        <button class="ButtonHover"
                            style="width: 225px; height: 45px; font-size: 20px; margin-top: 15px; margin-bottom: 15px;">More
                            Detail</button>
                    </div>
                </div>

                <div class="col5">
                    <div style="padding: 10px;">
                        <div class="col5item">
                            <div style="display: flex; text-align: center; padding: 10px;">
                                <span class="circle" style="justify-content: center;">
                                    <img src="/images/driver.png" alt="driver" class="myrealimage">
                                </span>
                                <span class="myheading" style="font-weight: bold;">Cloud VPS</span>
                            </div>
                            <div class="card_innertext"
                                style="text-align: left; margin-top: 5px; margin-left: 5px; font-size: 11px; padding: 2px;">
                                <p>A scalable,fully-managed virtual private server we build and optimize specifically
                                    for your website</p>
                            </div>
                        </div>
                        <div class="pricing_text" style="padding: 15px;  margin-top: 10px;">
                            <strong style="font-size: 30px; font-weight: bold;">$29</strong>/ month</h2>
                        </div>
                        <button class="ButtonHover"
                            style="width: 225px; height: 45px; font-size: 20px; margin-top: 15px; margin-bottom: 15px;">More
                            Detail</button>
                    </div>
                </div>

                <div class="col5">
                    <div style="padding: 10px;">
                        <div class="col5item">
                            <div style="display: flex; text-align: center; padding: 10px;">
                                <span class="circle">
                                    <img src="/images/monitor-mobbile.png" alt="monitor-mobbile" class="myrealimage">
                                </span>
                                <span class="myheading" style="font-weight: bold;">Dedicated</span>
                            </div>
                            <div class="card_innertext"
                                style="text-align: left; margin-top: 5px; margin-left: 5px; font-size: 11px; padding: 2px;">
                                <p>Your mission-critical website requires the Performance and security of a dedicated
                                    physical server.</p>
                            </div>
                        </div>
                        <div class="pricing_text" style="padding: 15px;  margin-top: 10px;">
                            <strong style="font-size: 30px; font-weight: bold;">$119</strong>/ month</h2>
                        </div>
                        <button class="ButtonHover"
                            style="width: 225px; height: 45px; font-size: 20px; margin-top: 15px; margin-bottom: 15px;">More
                            Detail</button>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <section class="section5">
        <div class="container">
            <div class="row">
                <div class="col6">
                    <div class="col6items">
                        
                            <div class="icon" style="text-align: center;" data_id="1" tabindex="1">
                                <img src="/images/WordPress.com Logo.png" height="60px" width="60px">
                                <span style="margin-left: 20px; margin-top: 8px;">Wordpress</span>
                            </div>
                        
                        
                            <div class="icon" style="text-align: center;" data_id="2" tabindex="2">
                                <img src="/images/magento.png" height="60px" width="60px">
                                <span style="margin-left: 20px; margin-top: 8px;">Magento</span>
                            </div>
                        
                    
                            <div class="icon" style="text-align: center;" data_id="3" tabindex="3">
                                <img src="/images/laravel(1).png" height="60px" width="60px">
                                <span style="margin-left: 20px; margin-top: 8px;">Laravel</span>
                            </div>
                        
                            <div class="icon" style="text-align: center;" data_id="4" tabindex="4">
                                <img src="/images/php.png" height="80px" width="80px">
                                <span style="margin-left: 18px; margin-top: 8px;">PHP</span>
                            </div>
                        
                    </div>
                </div>
                <div class="col7">
                    <div class="col7_items" id="1">
                        <div>
                            <p class="headlines4">
                                The Best Managed Cloud Hosting for WordPress
                            </p>
                        </div>
                        <div>
                            <p style="font-size: 20px;">We live and breathe WordPress.Our managed hosting for WordPress
                                and WooCommerce takes away cloud server related hassless so you can scale your website
                                the way you want.</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p> Unlimited Bandwidth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Network Speed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Turbo Power</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Xtreme Freedom</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button style="color: #F0F6FF; background-color: #F2A33A; margin-top: 30px;"
                                class="myButton">More Details</button>
                        </div>

                    </div>
                    <div class="col7_items" id="2">
                        <div>
                            <p class="headlines4">
                                The Best Managed Cloud Hosting for Magento
                            </p>
                        </div>
                        <div>
                            <p style="font-size: 20px;">We live and breathe WordPress.Our managed hosting for WordPress
                                and WooCommerce takes away cloud server related hassless so you can scale your website
                                the way you want.</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p> Unlimited Bandwidth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Network Speed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Turbo Power</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Xtreme Freedom</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button style="color: #F0F6FF; background-color: #F2A33A; margin-top: 30px;"
                                class="myButton">More Details</button>
                        </div>

                    </div>
                    <div class="col7_items" id="3">
                        <div>
                            <p class="headlines4">
                                The Best Managed Cloud Hosting for Laravel
                            </p>
                        </div>
                        <div>
                            <p style="font-size: 20px;">We live and breathe WordPress.Our managed hosting for WordPress
                                and WooCommerce takes away cloud server related hassless so you can scale your website
                                the way you want.</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p> Unlimited Bandwidth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Network Speed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Turbo Power</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Xtreme Freedom</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button style="color: #F0F6FF; background-color: #F2A33A; margin-top: 30px;"
                                class="myButton">More Details</button>
                        </div>

                    </div>
                    <div class="col7_items" id="4">
                        <div>
                            <p class="headlines4">
                                The Best Managed Cloud Hosting for PHP
                            </p>
                        </div>
                        <div>
                            <p style="font-size: 20px;">We live and breathe WordPress.Our managed hosting for WordPress
                                and WooCommerce takes away cloud server related hassless so you can scale your website
                                the way you want.</p>
                        </div>
                        <div>
                            <div class="row">
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p> Unlimited Bandwidth</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Network Speed</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Turbo Power</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col8">
                                    <div class="row">
                                        <div> <img src="/images/correct_sign.jpeg" width="60px"></div>
                                        <div>
                                            <p>Xtreme Freedom</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button style="color: #F0F6FF; background-color: #F2A33A; margin-top: 30px;"
                                class="myButton">More Details</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="section6">
        <div class="container">

            <div class="row1">
                <div style="width: 50%;">
                    <p class="headlines4">How Our Customers
                        Feel About Us</p>
                </div>
                <div style="width:40%"></div>
                <div style="justify-content: center; text-align: center;" class="col9">
                    <img src="/images/arrowLeft.png" width="45px" height="40px" onclick="moveLeft()">

                </div>
                <div>
                    <img src="/images/arrow-right.png" width="50px" height="40px" onclick="moveRight()">
                </div>
            </div>
            <div class="maincard" id="maincard1">
                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="innercard">
                        <div>
                            <img src="/images/profile.png">
                        </div>
                        <div class="row2">
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                            <div><img src="/images/Star 2.png"></div>
                        </div>
                        <div>
                            <p>Thanks to the Awan Hoster, I was guided step-by-step until it was finished.</p>
                            <p style="color: #1a3661; font-weight: bold;">Guy Hawkins</p>
                            <p>Manager</p>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>

    <section class="section7">
        <div class="container">
            <div class="row">
                <div class="col10">
                    <p class="headlines4">Try It Now and Stop Doubting Anything Else</p>
                    <p style="color: #1a3661;">With Awan Hoster's Money Back Guarantee,you can try the best service
                        reliability</p>
                    <button class="myButton" style="background-color: #F2A33A; margin-top: 20px;">Start Free
                        Trail</button>
                    <button class="myButton"
                        style="background-color: #F0F6FF; color: #1a3661; border: 1px solid #1a3661;">See All Plains
                    </button>
                </div>
                <div class="col11">
                    <img src="/images/Group 1000008788.png">
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="container">
            <div class="row3">
                <div class="col11">
                    <div class="image">
                        <img src="/images/logo-white.png">
                    </div>
                    <div style="margin-top: 12px;">
                        We provide you with the best hosting solutions for your website
                    </div>
                    <div class="row">
                        <div style="padding: 8px; margin-top: 30px;">
                            <img src="/images/icons8-google-50(1).png" width="20px">
                            <img src="/images/icons8-twitter-50.png" width="20px">
                            <img src="/images/icons8-instagram-50.png" width="20px">
                            <img src="/images/icons8-linkedin-50.png" width="20px">
                            <img src="/images/icons8-youtube-50.png" width="20px">
                        </div>
                    </div>
                </div>
                <div class="col12">
                    <div style="font-weight: bold;">Company</div>
                    <div style="margin-top: 18px;" class="items">About</div>
                    <div class="items">Blog</div>
                    <div class="items">Leadership</div>
                    <div class="items">Carrers</div>
                    <div class="items">Legal</div>

                </div>
                <div class="col12">
                    <div style="font-weight: bold;">Products</div>
                    <div style="margin-top: 18px;" class="items">Api</div>
                    <div class="items">Pricing</div>
                    <div class="items">Documentation</div>
                    <div class="items">Release Notes</div>

                </div>
                <div class="col12">
                    <div style="font-weight: bold;">Contacts</div>
                    <div style="margin-top: 18px;" class="items">Support</div>
                    <div class="items">Sales</div>
                    <div class="items">Report Abuse</div>
                    <div class="items">System Status</div>


                </div>
            </div>
        </div>
    </footer>


</body>
<script>
    // const total_language=document.querySelectorAll('.col6items')
//this is  for the tab layout

var total_language = document.querySelectorAll('.icon')

console.log(":" + total_language.length);



total_language.forEach((item)=>{
    for (let i = 2; i < 5; i++) {
                document.getElementById(i).style.display = "none"
            }
    item.addEventListener('click',()=>{
        const current_id = item.getAttribute("data_id")
        console.log("current_id"+current_id);
        for (let i = 1; i < 5; i++) {
            if (current_id == i) {
                document.getElementById(current_id).style.display = ""
            }
            else {
                document.getElementById(i).style.display = "none"
            }
        }
    })
})

function moveLeft()
{
    
    document.getElementById('maincard1').scrollLeft-=100;
}
function moveRight()
{
    document.getElementById('maincard1').scrollLeft+=100;
}


</script>
</html>