<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
         #myForm
        {
            margin: 200 400;
            width: 400px;
        }
        h2
        {
            text-align: center;
            color: white;
            margin-left: 100px;
        }
        #error
        {
            color: red;
            font-size: 15px;
            margin-top: 10px;
        }
       .maincontainer
        {
            margin: 0 auto;
            max-width: 1080px;    
            
        }
        body{
            background-image: url('/images/login.png');
            background-size: cover;
        }
        label
        { 
            margin-left: 120px;
            color: white;
            font-size: 15px;
            font-weight: bold;
        }
        #submitbtn
        {
          
            height: 40px;
            margin-top: 20px;
            font-size: 20px;
            background-color: green;
            border: 1px solid black;
            border-radius: 5px;
        }
        input{
            margin-top: 2px;
            width : 450px;
            height : 40px;
            border : 1px solid black;
            border-radius: 5px;
          
        }
    </style>
</head>
<body>
    <div class="maincontainer">

        <h2>Forget Password</h2>
    <form id="myForm" method="get">
        <div id="error"></div>
        <label>Enter Your username</label><br>
        <input type="text" name="useremail" id="username"><br>
        <input type="button" value="submit" id="submitbtn" onclick="forPass()">
    </form> 
    </div>
    <script>
        async function forPass()
        {
            var formElement = document.getElementById('myForm')
            var formdata = new FormData(formElement)
            const params1 = new URLSearchParams(formdata)
            const jobdata= await new Response(params1).text()        
           
           

            const response = await fetch("http://localhost:8083/dashboard/validateUsername",{
                method : "POST",
                headers : {
                    'Content-type': 'application/x-www-form-urlencoded'
                },
                body : jobdata
            })
            let userName= await response.text()
       

            if(userName == 'userName not Exist')
            {
                document.getElementById("error").innerHTML="username doesn't exist"
                console.log('username Not Exist')
            }
            else
            {
                window.location.href=`/dashboard/validatePasswordLink?username=${userName}`
            }
        }
    </script>
</body>
</html>