<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Register</title>
    <style>
        h2{
            text-align: center;
            color:white;
        }
        .register{
            text-align: center;
            margin-top: 80px;
        
            background-color: chocolate;  
            width: 220px;
            height: 30px;
            margin-left: 125px;
            border-radius: 10px;
            text-align: center;
        }
        .login
        {      
            text-align: center;   
             margin-top: 40px; 
             background-color: chocolate;  
            width: 220px;
            border-radius: 10px;
            height: 30px;
            margin-left: 125px;
            text-align: center;
        
        }
        .maincontainer
        {
            max-width: 1780px;
        }
        .card
        {
            width: 450px;
            height : 150px;
           
            border-radius: 25px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
        body{
            background-image: url('/images/login.png');
            background-size: cover;        
        
        }
        a{
            font-size: 20px;
            color: white;            
        }
    </style>
</head>
<body>
    <div class="maincontainer">
        <h2>Jaiswal Ritesh : 24DEV068</h2>
        <h2>Login/Register</h2>
        <div class="card">
        <div class="register">
            <a href="/dashboard/register">Register Here</a>
        </div>
        <div class="login">
            <a href="/dashboard/login">Login Here</a>
        </div> 
        </div>           
        </div>
</body>
</html>