<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job application Form</title>
    <style>
        .container
        {
            max-width: 1080px;
            margin: 0 auto;
        }
        .insertUser
        {
            margin-top: 40px;
            text-align: center;
        }
        .updateUser
        {
            margin-top: 80px;
            text-align: center;
        }
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
        }

    </style>
</head>
<body>
    <div class="container">
        <h2>
            Job Application Form
        </h2>
        <h3>CRUD Operation</h3>
        <div class="insertUser">
            <a href="/Dashboard/jobAppForm/insert">Click here to insert the user</a>
        </div>

        <div class="updateUser">
            <a href="/Dashboard/jobAppForm/userlist">Click here to update the user</a>
        </div>
    </div>

</body>
</html>