<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register link</title>
    <style>
        h2{
            text-align: center;
        }
        h3{
            text-align: center;
            color: green;
        }
        p{
            align-items: center;
            margin-left: 500px;            
        }
        .maincontainer
        {
            max-width: 1780px;
        }
    </style>
</head>
<body>
    <div class="maincontainer">
    <h2>Jaiswal Ritesh : 24DEV068</h2>

    <h2>Your Registration is done successfuly</h2>
    
     <h3>Copy this url and paste in the url to activate </h3>
     <p>http://localhost:8083/dashboard/activate?id=<%= id %>&key=<%= key  %></p>
     </div>
</body>
</html>