<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            margin-top: 2px;
            width : 450px;
            height : 40px;
            border : 1px solid black;
            border-radius: 5px;
          
        }
        .maincontainer
        {
            margin: 0 auto;
            max-width: 1080px;    
            
        }
        h2
        {
            text-align: center;
            color: white;
        }
        label
        { 
            margin-left: 120px;
            color: white;
            font-size: 15px;
            font-weight: bold;
        }
        #submitbtn
        {
          
            height: 40px;
            margin-top: 20px;
            font-size: 20px;
            background-color: green;
            border: 1px solid black;
            border-radius: 5px;
        }
        #error
        {
            color: red;
            font-size: 15px;
        }
        body{
            background-image: url('/login.png');
            background-size: cover;
        }
        #forgetPass
        {
            margin: 200 400;
            width: 400px;
        }
        .passwordDiv
        {
            margin-top: 12px;
        }
        h2{
           
            margin-top: 80px;
            
            margin-left: 80px;
            font-size: 25px;
        }
    </style>
</head>
<body>
    <div class="maincontainer">

        <h2>Forget Password</h2>

    <% if(message===false) {%>

     <form id="forgetPass">
        <input type="hidden" value="<%= username %>" id="getUsername" name="username">
        <div class="passwordDiv">
            <span id="error"></span><br>
            <label for="password1">Enter Your Password</label><br>
            <input type="text" name="password1" id="password1">
        </div>
       
        <div class="passwordDiv">
            <label for="password2">ReEnter Your Password</label><br>
        <input type="text" name="password2" id="password2">
        </div>
        
        <input type="button" value="update" onclick="validateData()" id="submitbtn">
     </form>

    <% } %>
    <% if(message !== false) {%>
        <h2>Your link is expired</h2>
        <% } %>
    </div>
    <script>
        document.getElementById("error").innerHTML=""
        let getUsername = document.getElementById("getUsername").value
        
        
        document.getElementById("error").innerHTML=""
        async function validateData()
        {
             let checkpasswordResult = checkPassword();
             if(checkpasswordResult == true)
             {
                
                var form = document.getElementById("forgetPass")
                    var details = new FormData(form)
                    const params = new URLSearchParams(details)
                    console.log(params)
                    const jobData= await new Response(params).text()
                    console.log(jobData)
                    const response = await fetch("http://localhost:8083/dashboard/forgetPasswordSave",{
                        method : "POST",
                       
                        body : params
                    })
                    const text = await response.text();
                    if(response.status == 200)
                    {
                        console.log("fetch done")
                        document.getElementById("error").innerHTML=text
                    }











             }
            
        }
        function checkPassword()
        {
            let password1 = document.getElementById("password1").value.trim()
            let password2 = document.getElementById("password2").value.trim()
            console.log(password1)
            console.log(password2)
            if(password1!==password2)
            {
                document.getElementById("error").innerHTML="password mismatch"
                return false;
            }
            return true;
        }
    </script>
    
</body>
</html>