<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if(message===false) {%>
     <span id="error"></span>
     <form id="forgetPass">
        <input type="hidden" value="<%= username %>" id="getUsername" name="username">
        <div>
            <label for="password1">Enter Your Password</label>
            <input type="text" name="password1" id="password1">
        </div>
       
        <div>
            <label for="password2">ReEnter Your Password</label>
        <input type="text" name="password2" id="password2">
        </div>
        
        <input type="button" value="update" onclick="validateData()">
     </form>

    <% } %>
    <% if(message !== false) {%>
        <h2>Your link is expired</h2>
        <% } %>

    <script>
        let getUsername = document.getElementById("getUsername").value
        
        
        document.getElementById("error").innerHTML=""
        async function validateData()
        {
             let checkpasswordResult = checkPassword();
             if(checkpasswordResult == true)
             {
                
                var form = document.getElementById("forgetPass")
                    var details = new FormData(form)
                    const params = new URLSearchParams(details)
                    console.log(params)
                    const jobData= await new Response(params).text()
                    console.log(jobData)
                    const response = await fetch("http://localhost:8083/forPassSave",{
                        method : "POST",
                       
                        body : params
                    })
                    const text = await response.text();
                    if(response.status == 200)
                    {
                        console.log("fetch done")
                        document.getElementById("error").innerHTML=text
                    }











             }
            
        }
        function checkPassword()
        {
            let password1 = document.getElementById("password1").value.trim()
            let password2 = document.getElementById("password2").value.trim()
            console.log(password1)
            console.log(password2)
            if(password1!==password2)
            {
                document.getElementById("error").innerHTML="password mismatch"
                return false;
            }
            return true;
        }
    </script>
    
</body>
</html>