<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Copy this link and paste on the url to change your password</h2>
    <p>http://localhost:8083/reset_password?key=<%= new_key %>&username=<%= username  %></p>
</body>
</html>